# Bỏ qua các file build
bin/
obj/
build/

# Bỏ qua các file config hoặc dữ kiện riêng
*.user
*.suo

# File cache hoặc dữ kiện tạm thời
.temp/
*.log

# Thư mục modules hoặc IDE
node_modules/
.vscode/
*.vs/
.vs/
*.user/
*.suo/
*.userprefs/
*.csproj.user


# File cấu hình
# Chặn thêm nếu bạn KHÔNG muốn đẩy lên repository
appsettings.json
appsettings.Development.json
